*{
    margin: 0;
    padding: 0;
font-family: sans-serif,'Poppins';
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/college.jfif);
    background-position: center;
    background-size: cover;
    position: relative;
}
.main{
    font-size: 25px;
    color: white;
}
nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;

}
.akglogo{
    width: 100px;
    margin: 10px;
}
.nav-list ul{
    text-align: right;
    display: flex;
    padding-top: 8px;
    margin-right: 26px;
}
.nav-list ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;

}
.nav-list ul li a{
    text-decoration: none;
    font-size: 16px;
    color: black;
    padding: 10px;
}
.dropdown{
    display: none;
    background-color:blue;
    width: 200px;
}
.nav-list ul li:hover .dropdown{
    display: block;
    position: absolute;
    display:flex;
    margin-top: 0.6rem;
    font-size: 14px;
}
.nav-list ul li:hover .dropdown ul{
    display: block;
    position: absolute;
}
.nav-list ul li:hover .dropdown ul li{
    text-align: left;
    padding-left:2%;
    background-color: violet;
}
.quality{
    background-color: black;
    color: white;
    font-size: 25px;
    border-radius: 5px;
    border-color: red;
    padding: 15px;
}
.about{
    display: flex;
    /* margin-top: 10px; */
    padding-top: 0;
    margin-right: 0;
    align-items: center;
    justify-content: center;
}
    img{
        max-width: 100%;
    }
    .pic{
        flex-basis: 40%;
    }
.text{
    margin-top: 0;
    padding-left: 20px;
    text-align: center;
}
.head{
    display: inline;
    margin-top: 0;
    text-align: center
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
    line-height: 1.5;
    font-family: 'Poppins',sans-serif;
}
.placements{
    padding: 20px;
    text-align: center;

}
.campus{
    padding: 20px;
}
.container{
    max-width: 1170px;
    margin:auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;

}
#slideshow {
    overflow: hidden;
    height: 510px;
    width: 728px;
    margin: 0 auto;
  }
   

  .slide {
    float: left;
    height: 510px;
    width: 728px;
  }
   
  
  .slide-wrapper {
    width: calc(728px * 5);
   
    animation: slide 10s ease infinite;
  }
  @keyframes slide {
    20% {
      margin-left: 0px;
    }
    40% {
      margin-left: calc(-728px * 1);
    }
    60% {
      margin-left: calc(-728px * 2);
    }
    80% {
      margin-left: calc(-728px * 3);
    }
    100%{
          margin-left: calc(-728px * 4);
      }
    
  }
.footer{
    background-color: #191970;
    padding: 75px 0;
    }
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content:'';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color:#ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color:#ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}
.logo{
    padding: 30px;;
}
